/* Position and sizing of burger button */
.bm-burger-button {
  margin: 0;
  position: absolute;
  left: 2%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50px;
  height: 40px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ba95dc;
  width: 100%;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a87bd1;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #ba95dc;
  padding: 2.5em 1.5em 0;
  width: 250px;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
  font-family: futura-pt, sans-serif;
}

.bm-item:hover {
  color: #ffffff;
}

.logout-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg)
    brightness(103%) contrast(103%) !important;
}
